@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Signika Negative', sans-serif;
}

/* Additional styles for your glowing button or other elements */
html{
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #161a1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowing-btn{
    width: 45rem;
    height: 12rem;
    background: none;
    border: 0.7rem solid rgb(0, 123, 255);
    border-radius: 2rem;
    color: rgb(0, 123, 255);
    font-size: 7rem;
    letter-spacing: 2.5rem;
    box-shadow: inset 0 0 3rem rgb(0, 123, 255);
    cursor: pointer;
    position: relative;
    perspective: 6rem;
    animation: borderAnim 2s linear infinite;
    transition: all 0.3s;
}

.glowing-btn:hover{
    color: #27292b;
    background: rgb(0, 123, 255);
    box-shadow: 0 0 3rem rgb(0, 123, 255);
    animation: none;
}

@keyframes borderAnim{
    0%{
        opacity: 0.1;
        transform: rotate(0deg);
    }
    2%{
        opacity: 1;
    }
    4%{
        opacity: 0.1;
    }
    8%{
        opacity: 1;
    }
    70%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }

}
.glowing-btn::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 6rem rgb(0, 123, 255);
    transition: all 0.3s;
}

.glowing-btn:hover::before{
    box-shadow: 0 0 15rem rgb(0, 123, 255);
}

.glowing-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgb(0, 123, 255);
    opacity: 0.7;
    transform: translate(-50%, 130%) rotateX(45deg) scale(1, 0.35);
    filter: blur(3rem);
    pointer-events: none;
}

.glowing-btn:hover::after{
    width: 120%;
    height: 120%;
    transform: translate(-50%, 110%) rotateX(45deg) scale(1, 0.35);
    filter: blur(5rem);
    transition: all 0.3s;
}
.glowing-text{
    text-shadow: 0 0 1rem rgba(0, 123, 255, 0.7), 0 0 1rem rgba(0, 123, 255, 0.7);
    animation: textAnim 3s linear infinite;
}

.glowing-btn:hover .glowing-text{
    text-shadow: 0 0 1rem rgba(0, 123, 255, 0.7), 0 0 1rem rgba(0, 123, 255, 0.7);
    animation: none;
}


@keyframes textAnim{
    0%{
        opacity: 0.1;
    }
    2%{
        opacity: 1;
    }
    8%{
        opacity: 0.1;
    }
    9%{
        opacity: 1;
    }
    12%{
        opacity: 0.1;
    }
    20%{
        opacity: 1;
    }
    25%{
        opacity: 0.3;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 0.7;
    }
    72%{
        opacity: .2;
    }
    77%{
        opacity: 0.9;
    }
    100%{
        opacity: 0.9;
    }
}